.dart_tool/
.docker/
.git/
.github/
.idea/
build/
coverage/
123/
456/
web/
windows/
*.apk
*.jks
*.keystore
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
android/upload-keystore.jks
